#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.Robert {
    font-size: 20px;
    color: red;
    text-align: left;
    will-change: filter;
    transition: filter 300ms;
}

.Robert:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
.Robert.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.Micheal {
    font-size: 20px;
    color: red;
    text-align: left;
    will-change: filter;
    transition: filter 300ms;
}

.Micheal:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
.Micheal.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.Ahmed {
    font-size: 20px;
    color: red;
    text-align: left;
    will-change: filter;
    transition: filter 300ms;
}

.Ahmed:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
.Ahmed.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.Jacob {
    font-size: 20px;
    color: red;
    text-align: left;
    will-change: filter;
    transition: filter 300ms;
    justify-content: left;
}

.Jacob:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
.Jacob.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
.Header{
  text-align: center;
  font-size: 40px;
  color: white;
  text-decoration: solid;

}

.Info{
  color: azure;
}

.Photo {
  width: 30px;   
  height: auto;  
  border-radius: 10px;
  display: block;
}


